In [7]:
import pandas as pd

df=pd.read_csv('output_filename.csv', encoding ='iso-8859-1', delimiter=';', skiprows=0, low_memory=False)
df.head()

,Unnamed: 0,old_tweet,new_tweet
0,0,- disaat semua cowok berusaha melacak perhatia...,di saat semua cowok berusaha melacak perhatia...
1,1,RT USER: USER siapa yang telat ngasih tau elu?...,siapa yang telat memberi tau kamu edan sarap ...
2,2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41 kadang aku berpikir kenapa aku tetap percay...
3,3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,aku itu aku dan ku tau matamu sipit tapi dili...
4,4,USER USER Kaum cebong kapir udah keliatan dong...,kaum cebong kafir sudah kelihatan dongoknya d...